body {
  font-family: Tahoma, sans-serif;
  margin: 0;
}

#PhoneCheckForm {
  padding: 8px 24px;
}
#PhoneCheckForm > input {
  display: block;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
}
