body {
  background-color: #f2f2f2;
  color: #464b4b;
}

.container {
	font-family: sans-serif;
	font-size: 65px;
	text-align: center;
  margin-top: 25%;
}

.input {
	font-family: sans-serif;
	font-size: 65px;
}

.submit {
	margin-top: 1%;
	align-content: right;
}